html,
body {
  height: 100%;
}
body {
  min-height: 100%;
  font: 10px Arial;
}
.clearfix::after {
  content: '';
  display: block;
  clear: left;
  font-size: 0;
}
.loading-screen {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  text-align: center;
}
.loading-screen.is-loading {
  display: block;
}
.loading-screen.is-error {
  color: #e00;
}
.loading-screen:before {
  content: '';
  position: relative;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.loading-screen span {
  display: inline-block;
  vertical-align: middle;
}
.controls {
  position: relative;
  margin: 0 0 1rem;
  font-size: 14px;
}
.controls .control {
  display: inline-block;
  margin: 0 2rem 0 0;
}
.controls .control__label {
  display: block;
}
.controls .control__input {
  margin: 0 0.3rem 0 0;
  vertical-align: middle;
}
.controls .control__postfix {
  vertical-align: middle;
}
.controls .play-button {
  width: 5rem;
  margin: 0 2rem 0 0;
  padding: 0.6rem 1.3rem 0.7rem;
  box-shadow: 0 1px 2px;
  border: 0 none;
  background-color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  text-align: center;
  vertical-align: top;
}
.box {
  position: relative;
  float: left;
  margin: 0 0 0 5.25rem;
  font-size: 0;
  line-height: 0;
}
.box .line {
  position: relative;
  float: left;
  clear: left;
  margin: 0 0 0 -5.25rem;
  padding: 0.3rem 0;
}
.box .line .bar {
  display: inline-block;
  width: 1.3rem;
  height: 1.7rem;
  margin: 0 0.25rem;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.33);
  background-color: rgba(255,255,255,0.33);
}
.box .line .bar.fill {
  background-color: rgba(250,100,100,0.67);
}
.box .line .toggle {
  height: 1.7rem;
  width: 5rem;
  margin: 0 0.25rem 0 0;
  padding: 0.3rem 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #fff;
  box-shadow: 0 1px 2px;
  cursor: pointer;
  border: 0 none;
  vertical-align: top;
  outline: 0 none;
}
.box .line.muted .toggle {
  background-color: #e3e3e3;
}
.box .cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% / 16);
  height: 100%;
  background-color: rgba(255,218,120,0.67);
}
